{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": [
		"/out",
		"/scripts"
	],
	"plugins": [
		"@typescript-eslint",
		"eslint-plugin-tsdoc",
		"roblox-ts",
		"prettier"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"roblox-ts/lua-truthiness": "off",
		"tsdoc/syntax": "warn",
		"prettier/prettier": "warn"
	}
}
